<h1>@ViewData["MENSAJE"]</h1>


<form method="post" enctype="multipart/form-data">
    <label>Email</label>
    <input required type="text" name="email" class="form-control" />
    <br />
    <label>Asunto</label>
    <input required type="text" name="asunto" class="form-control" />
    <br />
    <label>Mensaje</label>
    <input required type="text" name="mensaje" class="form-control" />
    <br />
    <button type="submit" class="btn" style="background-color: #ffbe33;color:white">Mandar correo</button>
</form>

